
<%= form_for @school_class do |f| %>
<label> My edit </label>

  <%= f.label 'Schoolclass Title' %><br>
  <%= f.text_field :title %><br>
 
  <%= f.label 'Schoolclass Roomnumber' %><br>
  <%= f.number_field :room_number %><br>
 
  <%= f.submit %>
<% end %>