<h1>New School Class Form</h1>
<p>
  <%= form_for(@school_class) do |f| %>
  <%= f.label "Title:" %>
  <%= f.text_field :title %>
  <%= f.label "Room_number:" %>
  <%= f.text_field :room_number%> <br>
  <%= f.submit %>
  <% end %>
</p>
